@using WEB_253502_Melikava.Domain.Models
@model BookListModel<WEB_253502_Melikava.Domain.Entities.Book>

@{
    ViewData["Title"] = "Index";
    var genres = ViewBag.Genres as List<Genre>;
    var currentGenre = ViewBag.CurrentGenre as Genre;

    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 1;
}

<h1>Шедевры мировой литературы</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        @if (currentGenre != null)
        {
            @currentGenre.Name
        }
        else
        {
            <span>Выберите жанр</span> 
        }

    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <a class="dropdown-item" href="@Url.Action("Index", "Book", new { genre = "" })">
                Все
            </a>
        </li>
        @foreach (var genre in genres)
        {
            <li>
                <a class="dropdown-item" href="@Url.Action("Index", "Book", new { genre = genre.NormalizedName })">
                    @genre.Name
                </a>
            </li>
        }
    </ul>
</div>

<div id="data-container">
    @Html.Partial("_CatalogAsync", Model)
</div>


@* <div class="row">
    @foreach(var item in Model.Items)
    {
        var request = ViewContext.HttpContext.Request;
        var returnUrl = request.Path + request.QueryString.ToUriComponent();

        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img src="@item.Image" class="card-img-top" alt="some image">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id" asp-route-returnUrl="@returnUrl" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>

    }
</div> *@

@* <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNo = prev, genre = currentGenre==null?"":currentGenre.NormalizedName })">Previous</a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Book", new { genre = currentGenre==null?"":currentGenre.NormalizedName ,pageNo=i })">@i</a>
            </li>
        }

        <li class="page-item @(Model.CurrentPage == Model.TotalPages || Model.TotalPages == 0  ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNo = next, genre = currentGenre==null?"":currentGenre.NormalizedName  })">Next</a>
        </li>
    </ul>
</nav> *@

@* <pager 
    total-pages="Model.TotalPages" 
    current-page="Model.CurrentPage"
    current-genre="currentGenre"
    admin="false">
</pager> *@




